x402.json
{
  "name": "x402",
  "nodes": [
    {
      "parameters": {
        "path": "92c5ca23-99a7-437d-85da-84aef8bd2a25",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        -180
      ],
      "id": "bf854266-4250-4491-af67-ff8fc3b63ac6",
      "name": "Webhook",
      "webhookId": "92c5ca23-99a7-437d-85da-84aef8bd2a25"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"x402Version\": \"1\",\n  \"error\": \"X-PAYMENT header has incorrect format\"\n}",
        "options": {
          "responseCode": 402
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        440,
        40
      ],
      "id": "605abcb3-2acc-4db4-a87a-efae930a015d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ff83590-61f3-41d8-8500-a96103c3844c",
              "leftValue": "={{ $json.headers['x-payment'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        -100
      ],
      "id": "82409682-6932-4714-9f7c-27c60a692245",
      "name": "Check for presence of X-HEADER"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"x402Version\": \"1\",\n  \"error\": \"X-PAYMENT header did not verify\"\n}",
        "options": {
          "responseCode": 402
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1060,
        -60
      ],
      "id": "8790cc26-6626-47fe-ae0f-8142b3fde734",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "try {\n    // Decode the x-payment header from base64\n    const xPaymentHeader = $input.first().json.headers['x-payment'];\n    const decodedXPayment = Buffer.from(xPaymentHeader, 'base64').toString('utf-8');\n\n    // Parse the decoded value into a JSON object\n    const decodedXPaymentJson = JSON.parse(decodedXPayment);\n\n    // Add the parsed JSON object to the input\n    $input.first().json.decodedXPayment = decodedXPaymentJson;\n\n    return $input.all();\n} catch (error) {\n    // Return an error object if the token format is invalid\n    return { error: \"invalid token format\" };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -280
      ],
      "id": "efb6f824-6679-4ad4-9b05-c20ef27a706d",
      "name": "Decode & Validate X-Payment"
    },
    {
      "parameters": {
        "operation": "simulate",
        "contractMethodId": "fe22ef76-e6af-4912-ba8d-17e2e72c1feb",
        "params": "={\n  \"from\": \"{{ $json.decodedXPayment.payload.authorization.from }}\",\n  \"to\": \"{{ $json.decodedXPayment.payload.authorization.to }}\",\n  \"value\": \"{{ $json.decodedXPayment.payload.authorization.value }}\",\n  \"validAfter\": \"{{ $json.decodedXPayment.payload.authorization.validAfter }}\",\n  \"validBefore\": \"{{ $json.decodedXPayment.payload.authorization.validBefore }}\",\n  \"nonce\": \"{{ $json.decodedXPayment.payload.authorization.nonce }}\",\n  \"signature\": \"{{ $json.decodedXPayment.payload.signature }}\"\n} "
      },
      "type": "n8n-nodes-1shot.oneShot",
      "typeVersion": 1,
      "position": [
        420,
        -300
      ],
      "id": "6cad76b8-1a56-4028-92f4-a6fb696e1647",
      "name": "Simulate Payment",
      "credentials": {
        "oneShotOAuth2Api": {
          "id": "nkfF9AitCKUCrErK",
          "name": "1Shot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81c67679-e256-4fd2-bed7-8f4272c2392b",
              "leftValue": "={{ $json.success.toString() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        -180
      ],
      "id": "a2f18d76-8bea-4d1c-9287-6c0a7594d6da",
      "name": "On Successful Payment Simulation"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "\"Payment Received!\" ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1080,
        -300
      ],
      "id": "5b29d382-d7dc-484c-b700-3de0c5935c8a",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "contractMethodId": "fe22ef76-e6af-4912-ba8d-17e2e72c1feb",
        "params": "{\n  \"from\": \"{{ $('Decode & Validate X-Payment').item.json.decodedXPayment.payload.authorization.from }}\",\n  \"to\": \"{{ $('Decode & Validate X-Payment').item.json.decodedXPayment.payload.authorization.to }}\",\n  \"value\": \"{{ $('Decode & Validate X-Payment').item.json.decodedXPayment.payload.authorization.value }}\",\n  \"validAfter\": \"{{ $('Decode & Validate X-Payment').item.json.decodedXPayment.payload.authorization.validAfter }}\",\n  \"validBefore\": \"{{ $('Decode & Validate X-Payment').item.json.decodedXPayment.payload.authorization.validBefore }}\",\n  \"nonce\": \"{{ $('Decode & Validate X-Payment').item.json.decodedXPayment.payload.authorization.nonce }}\",\n  \"signature\": \"{{ $('Decode & Validate X-Payment').item.json.decodedXPayment.payload.signature }}\"\n} ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-1shot.oneShotSynch",
      "typeVersion": 1,
      "position": [
        840,
        -280
      ],
      "id": "1f182441-25da-41cc-913d-8e724866d7d3",
      "name": "1Shot API Submit & Wait",
      "credentials": {
        "oneShotOAuth2Api": {
          "id": "nkfF9AitCKUCrErK",
          "name": "1Shot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6666e1f6-5e99-49d4-9f9a-a5a35cde4f74",
              "leftValue": "={{ $json.decodedXPayment.payload.signature }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        -280
      ],
      "id": "cfa44cb3-de5c-4ef2-9950-cca2d2bdcfbc",
      "name": "Ensure Well Formatted Payment Payload"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check for presence of X-HEADER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for presence of X-HEADER": {
      "main": [
        [
          {
            "node": "Decode & Validate X-Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode & Validate X-Payment": {
      "main": [
        [
          {
            "node": "Ensure Well Formatted Payment Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Payment": {
      "main": [
        [
          {
            "node": "On Successful Payment Simulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Successful Payment Simulation": {
      "main": [
        [
          {
            "node": "1Shot API Submit & Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1Shot API Submit & Wait": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Well Formatted Payment Payload": {
      "main": [
        [
          {
            "node": "Simulate Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5de7ec4-606c-4572-b420-1aac6d4576d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62f017ec8f130d172e2e5f39bbf09515036bfd403dfa60fe06f5ab14b78705d0"
  },
  "id": "EfbdYnnqgNACIN81",
  "tags": []
}